<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="DB_Sistema" connectionString="Server=.\SQLEXPRESS;Database=DB_Sistema;Trusted_Connection=True;MultipleActiveResultSets=True;Connect Timeout=15" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="Servidor" value=".\SQLEXPRESS" />
        <add key="BaseDatos" value="DB_Sistema" />
        <add key="Usuario" value="" />
        <add key="Clave" value="" />
    </appSettings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>